.login-register-form{
	display: block;
	max-width: 800px;
	margin: 0 auto;
}

.login-register-btn{
	display: inlune-block;
	background-color: #111719;
	color: #fff;
	margin-right: 24px;
	width: 220px;
	height: 44px;
	font-weight: 500;
	border-radius: 0;
	border: 0;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	box-shadow: none;

}
