/*
	Add as many breakpoints as you need
*/

$x-small : "max-width: 25em" !default; /* 400px */
$small   : "max-width: 34.375em" !default; /* 550px */
$medium  : "max-width: 46.875em" !default; /* 750px */
$_960    : "max-width: 60em" !default; /* 960px */
$large   : "max-width: 62.5em" !default; /* 1000px */
$_1140   : "max-width: 71.25em" !default; /* 1140px */
$x-large : "max-width: 75em" !default; /* 1200px */