@import '~js-datepicker/src/datepicker';

.variation-content{
    h4{
        margin-bottom: 12px;
    }
}

.attributes-chooser{
    background-color: #f3f3f3;
    margin-bottom: 24px;

    label{
        margin-right: 18px;

        span{
            display: inline-block;
            vertical-align: middle;
        }
    }

    .attr-row{
        padding: 12px;
        border-bottom: 1px solid #fff;

        &:last-child{
            border-bottom: 0;
        }
    }

}

.attr-values{
    display: none;
    flex-wrap: wrap;
    padding: 6px 0 6px 24px;
    color: #555;
    font-size: 14px;

    &.open{
        display: flex;
    }
}

.variation-header{
    position: relative;

    a.add-variation-btn{
        display: block;
        font-weight: 700;
        border: 1px solid #444;
        color: #fff;
        background-color: #888;
        padding: 4px 18px;
        text-align: center;
        text-decoration: none;
        outline: none;
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        transition: background-color .25s ease;

        &:hover{
            background-color: #555;
        }
    }
}

.variation-image{
    max-width: 55px;
    height: auto;
    margin-right: 18px;
    border: 1px solid #fff;
}

.variation-item{
    padding: 12px 0 0 0;
    margin-bottom: 12px;
    position: relative;

    &:last-child{
        margin-bottom: 0;
    }

    a.delete-variation-btn{
        display: block;
        text-decoration: none;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        line-height: 1.2;
        text-align: center;
        background-color: darken(red, 15%);
        color: #fff;
        transition: all .25s ease;
        position: absolute;
        top: 0;
        right: -12px;
        z-index: 5;

        &:hover{
            color: #fff;
            background-color: #777;
        }
    }
}

.variation-options{
    background-color: #888;
    color: #fff;
    padding: 12px;
    position: relative;

    .variation-collapse{
        margin-left: auto;
        position: relative;
        width: 24px;
        text-align: center;

        a.variation-collapse-btn{
            display: block;
            color: #fff;
            font-size: 24px;
            text-decoration: none;

            i{
                transition: all .25s ease;
                transform: translateY(-50%) rotate(0);
                position: absolute;
                top: 50%;
            }

            &.open i{
                transform: translateY(-50%) rotate(90deg);
            }

            &:hover{
                color: #ccc;
            }
        }
    }

    .inner{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product-variation-dropdown{
        width: 16%;

        label{
            font-size: 14px;
            font-weight: 700;
        }

        select{
            height: 32px;
            font-size: 14px;
        }

    }
}

.variation-fields{
    background-color: #e3e3e3;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease, padding .15s ease;

    &.open{
        max-height: 650px;
        padding: 12px;
    }

    .form-row:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.order-header{
    background-color: #f4f4f4;
    margin-bottom: 24px;

    .inner{
        padding: 0 24px 24px 24px
    }
}

.order-header-top{
    margin-bottom: 24px;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: row;

    .order-header-top-item{
        flex-grow: 1;
        font-size: 18px;
        padding: 24px;
    }
}

.order-addresses{
    display: flex;
    flex-direction: row;
}

.order-shipping-details,
.order-payment-details{
    width: 50%;
}

.order-shipping-details{
    padding-right: 24px;
    border-right: 1px solid #ddd;
}

.order-payment-details{
    padding-left: 24px;
}

.shipping-address{
    font-style: normal;
    margin-bottom: 24px;
}

.order-payment-details{
    p{
        font-size: 16px;
    }

    h4{
        margin-bottom: 6px;
    }
}

a.view-shipping-label-link{
    display: inline-block;
    padding: 6px 18px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    margin-top: 12px;
    transition: background-color .25s ease;

    i{
        margin-right: 6px;
    }

    &:hover{
        background-color: #777;
    }
}

.order-status-badge {
    display: inline-block;
    padding: 3px 12px;
    font-size: 14px;
    margin: 0 12px;
    font-weight: 700;
    vertical-align: middle;

    &.order-status-1{ // NEW
        background-color: #BEE3F8;
        color: #2C5282;
    }
    &.order-status-2{ // HOLD
        background-color: #EDF2F7;
        color: #2D3748;
    }
    &.order-status-3{ // COMPLETE
        background-color: #C6F6D5;
        color: #276749;
    }

    &.order-status-4{ // REFUNDED
        background-color: #FEEBC8;
        color: #DD6B20;
    }

    &.order-status-86{ // CANCELED
        background-color: #FC8181;
        color: #9B2C2C;
    }
}

.row-order-status-4,
.row-order-status-86{
    text-decoration: line-through;
}

.credit-tag,
.debit-tag{
   display: inline-block;
   font-size: 14px;
   padding: 2px 8px;
   font-weight: 700;
}

.credit-tag{
    background-color: #FEB2B2;
    color: #9B2C2C;
}

.debit-tag{
    background-color: #BEE3F8;
    color: #2C5282;
}

.line-refund-modal{
    display: none;
    background-color: #fff;
    width: 100%;
    border: 1px solid #888;
    max-width: 400px;
    box-shadow: 0 0 25px 16px rgba(0,0,0,0.1);
    margin: 12px;
    padding: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;

    .inner{
        position: relative;
    }

    h3, h4{
        color: #222;
    }

    p{
        color: #222;
        text-align: center;
    }

    .close-refund-item-modal{
        position: absolute;
        top: -12px;
        right: -8px;
        font-size: 24px;
        color: #999;
        text-decoration: none;
        transition: color .25s ease;
        line-height: 1;

        &:hover{
            color: #eee;
        }
    }
}

.refund-messages{
    padding: 4px;
}



#line-refund-notes{
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color .3s ease;

    &:focus{
        border-color: #333;
    }
}

.form-cols{
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;

    .form-col-6{
        width: 60%;
        padding: 0 6px;
    }
    .form-col-5{
        width: 50%;
        padding: 0 6px;
    }
    .form-col-4{
        width: 40%;
        padding: 0 6px;
    }
    .form-col-3{
        width: 30%;
        padding: 0 6px;
    }
    .form-col-2{
        width: 20%;
        padding: 0 6px;
    }

    .label-col{
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        padding: 12px;
        color: #444;
    }

    .input-col{
        width: 100%;
    }

    input[type="number"]{
        width: 100%;
        height: 60px;
        font-size: 24px;
        text-align: center;
        border: 1px solid #ccc;
        outline: none;
        transition: border-color .3s ease;

        &:focus{
            border-color: #333;
        }

    }
}

.tr-line-credit{
    td{
        background-color: #FED7D7;
    }
}

.report-forms{
    margin-bottom: 32px;
}

.form-to-from{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.form-date-col{

    padding: 0 12px;

    [type="text"]{
        width: 100%;
        height: 42px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #ccc;
        outline: none;
        transition: border-color .3s ease;

        &:focus{
            border-color: #333;
        }
    }
}

.sales-report-form{
    display: flex;
    flex-direction: row;

    form{
        width: 50%;
        display: flex;
        flex-direction: row;
    }
}
