.hide {
  display: none;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 6rem 2rem;
  position: relative;
}

.jumbotron hr {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.form-control:focus {
  box-shadow: none;
  background-color: #fff;
}

.product-image-selected img {
  max-width: 100%;
  height: auto;
}

.product-images-thumbs {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 24px 0;
  padding: 24px 0 0 0;
  list-style: none;
}

.product-images-thumbs li {
  width: 17%;
  margin-left: 1%;
}

.product-images-thumbs li:first-child {
  margin-left: 0;
}

.product-images-thumbs li img {
  max-width: 100%;
  height: auto;
}

.product-images-thumbs li a {
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.product-images-thumbs li a:hover, .product-images-thumbs li a.active {
  opacity: .55;
}

.update-qty-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.update-qty-btn:hover {
  opacity: .65;
}

.update-qty-btn svg {
  width: 20px;
  height: 20px;
  margin-left: 6px;
}

.qty-cell form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.cart-qty {
  width: 70px;
}

#block-editor .testimonial {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

#block-editor .testimonial .author-quote {
  width: 60%;
}

#block-editor .testimonial .quote {
  padding: 24px;
  font-style: italic;
}

#block-editor .testimonial .author {
  text-align: right;
  padding: 12px 24px 12px 12px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

#block-editor .testimonial .author-image {
  width: 40%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
}
