.divider-block{
    padding: 24px 60px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.divider{
    margin-bottom: 32px;

    &.center{
        justify-content: center;
        align-items: center;
    }

    &.left{
        justify-content: start;
        align-items: center;
    }

    &.right{
        justify-content: end;
        align-items: center;
    }
}
