.gallery{
    .grid-item{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        text-align: center;

        img{
            max-width: 100%;
            height: auto;
        }

        a{
            transition: opacity .25s ease;
            &:hover{
                opacity: .65;
            }
        }

    }
}
